
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Category Master</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="CategoryMasterForm" class="form-horizontal">
              
                <div class="card-body col-sm-8">
                  <div class="row form-group">
                    <label class="col-sm-4 col-form-label" for="inputEmail3">Category Code *</label>
                    <div class="col-sm-6">
                      <input type="text" formControlName="CategoryCode" class="form-control" maxlength="50"
                       [ngClass]="{ 'is-invalid': submitted && categoryMasterFormControls.CategoryCode.errors }"
                      pattern="^[a-zA-Z0-9\s]+$" />
                      <div *ngIf="submitted && categoryMasterFormControls.CategoryCode.errors" class="invalid-feedback">
                                  <div *ngIf="categoryMasterFormControls.CategoryCode.errors.required">Category Code is required</div>
                                  <div *ngIf="categoryMasterFormControls.CategoryCode.errors.pattern && categoryMasterFormControls.CategoryCode.dirty && categoryMasterFormControls.CategoryCode.invalid">Special Characters are not allowed.</div>
                              </div>
                    </div>
                  
                  </div>
  
                  <div class="row form-group">
                    <label class="col-sm-4 col-form-label" for="inputEmail3">Category Name *</label>
                    <div class="col-sm-6">
                      <input type="text" formControlName="CategoryName" class="form-control"  maxlength="100"
                       [ngClass]="{ 'is-invalid': submitted && categoryMasterFormControls.CategoryName.errors }"
                      pattern="^[a-zA-Z0-9\s]+$"/>
                      <div *ngIf="submitted && categoryMasterFormControls.CategoryName.errors" class="invalid-feedback">
                                      <div *ngIf="categoryMasterFormControls.CategoryName.errors.required">Category Name is required</div>
                                      <div *ngIf="categoryMasterFormControls.CategoryName.errors.pattern && categoryMasterFormControls.CategoryName.dirty && categoryMasterFormControls.CategoryName.invalid">Special Characters are not allowed.</div>
                                  </div>
                    </div>
                  </div>
  
                <!-- /.card-body -->
          
              <!-- /.row -->
  
              <div class="card-footer" style="align-content: center;">
                <button type="button" (click)="SaveCategoryMaster()" [disabled]="loading || isbtnSaveDisabled"
                  class="btn btn-success btn-sm mr-1 ml-1 mt-2 mb-2">
                  <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mb-1"></span> -->
                  Save
                </button>
                <button type="button" (click)="ShowGrid()" [hidden]="routetype" class="btn btn-primary btn-sm mr-1 ml-1 mt-2 mb-2">
                  Back
                </button>
                <button type="button" (click)=ClearContents() [disabled]="isbtnClearDisabled" class="btn btn-info btn-sm mr-1 ml-1 mt-2 mb-2">
                  Clear
                </button>
                <div *ngIf="error" style="color: red;font-weight: bold;">{{error}}</div>
              </div>
                </div>
            </form>
  
  
          </div>
  
        