<div id="container">
    <div class="topbar">
        <div class="topbar-left">
            <div class="applogo">Asset Management</div>
            <div class="nav-link"><i class="fas fa-bars menu-toggle"></i></div>
            <div routerLink="/dashboard" class="nav-link">Home</div>
        </div>
        <div class="topbar-right">
            <div class="nav-link"><i class="fas fa-user mr-5"></i>{{ userName }}</div>
            <div routerLink="/login" class="nav-link">
                <i class="fas fa-sign-out-alt mr-5"></i>Logout
            </div>
        </div>
    </div>
    <div class="side-nav">
        <div class="search-bar">
            <input class="search-control" type="search" placeholder="Search Menu" aria-label="Search" (input)="onSearchChange(myInput.value)" #myInput>
        </div>
        <ul class="sidemenu-ul">
            <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
            <div *ngFor="let item of parentMenuItems">
                <li (click)="item.isActive = !item.isActive" [ngClass]="{'nav-item': true, 'active': item.isActive}">
                    <i class="fas fa-copy nav-icon "></i><span class="nav-item-text">
                      {{item.menuText}}
                  </span>
                </li>
                <div *ngIf="getChildMenuItems(item.menuName).length>0" class="nav-sub-list">
                    <ul class="sidemenu-ul">
                        <li *ngFor="let itemChild of getChildMenuItems(item.menuName)" class="nav-item" routerLink="/{{ itemChild.menuName | lowercase }}" routerLinkActive="active">
                            <i class="fas fa-circle nav-icon"></i><span class="nav-item-text">{{itemChild.menuText}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </ul>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>