<div style="height: auto;">
    <div class="wrapper" style="height: auto; min-height: 100%;">
        <div class="content-wrapper">
            <section class="content" style="padding: 1%;">
                <!-- left column -->
                <!-- general form elements -->
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Room Master</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form [formGroup]="roommasterform" class="form-horizontal">

                            <div class="card-body col-md-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="row form-group ">
                                            <label class="col-sm-5 col-form-label" >Site
                                                Code</label>
                                            <div class="col-sm-6">
                                                <select class="form-control select2bs4 select2-hidden-accessible"
                                                    style="width: 100%;" formControlName="siteSelCode"
                                                    [ngClass]="{ 'is-invalid': submitted && roommasterFormControls.siteSelCode.errors }"
                                                    name="siteSelCode">
                                                    <option selected="selected"></option>
                                                    <option *ngFor="let x of sitecodes" value="{{ x.siteID }}">
                                                        {{ x.siteCode }} - {{ x.siteName }}
                                                    </option>
                                                </select>

                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <label class="col-sm-5 col-form-label" >Room Code *</label>
                                            <div class="col-sm-6">
                                                <input type="text" formControlName="RoomCode" class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && roommasterFormControls.RoomCode.errors }"
                                                    pattern="^[a-zA-Z0-9\s]+$" />
                                                <div *ngIf="roommasterFormControls.RoomCode.errors"
                                                    class="invalid-feedback">
                                                    <div
                                                        *ngIf="submitted && roommasterFormControls.RoomCode.errors.required">
                                                        Room Code is required</div>
                                                    <div
                                                        *ngIf="roommasterFormControls.RoomCode.errors.pattern && roommasterFormControls.RoomCode.dirty && roommasterFormControls.RoomCode.invalid">
                                                        Special Characters are not allowed.</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <label class="col-sm-5 col-form-label" >Room Name *</label>
                                            <div class="col-sm-6">
                                                <input type="text" formControlName="RoomName" class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && roommasterFormControls.RoomName.errors }"
                                                    pattern="^[a-zA-Z0-9\s]+$" />
                                                <div *ngIf="roommasterFormControls.RoomName.errors"
                                                    class="invalid-feedback">
                                                    <div
                                                        *ngIf="submitted && roommasterFormControls.RoomName.errors.required">
                                                        Room Name is required</div>
                                                    <div
                                                        *ngIf="roommasterFormControls.RoomName.errors.pattern && roommasterFormControls.RoomName.dirty && roommasterFormControls.RoomName.invalid">
                                                        Special Characters are not allowed.</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col">

                                        <div class="row form-group">
                                            <label class="col-sm-5 col-form-label" name="inputEmail3">Building
                                                Code</label>
                                            <div class="col-sm-6">
                                                <select class="form-control select2bs4 select2-hidden-accessible"
                                                    style="width: 100%;" formControlName="buildingSelCode"
                                                    [ngClass]="{ 'is-invalid': submitted && roommasterFormControls.buildingSelCode.errors }"
                                                    name="buildingSelCode">
                                                    <option selected="selected"></option>
                                                    <option *ngFor="let x of buildingcodes" value="{{ x.buildingID }}">
                                                        {{ x.buildingCode }} - {{ x.buildingName }}
                                                    </option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row form-group">
                                            <label class="col-sm-5 col-form-label" >Floor Code
                                                *</label>
                                            <div class="col-sm-6">
                                                <!-- <select class="form-control" formControlName="floorSelCode" id="floorSelCode"
                                        [ngClass]="{ 'is-invalid': submitted && roommasterFormControls.floorSelCode.errors }">
                                        <option *ngFor="let x of floorcodes" value="{{x.floorID}}">
                                            {{x.floorCode}}
                                        </option>
                                    </select> -->
                                                <select class="form-control select2bs4 select2-hidden-accessible"
                                                    style="width: 100%;" formControlName="floorSelCode"
                                                    [ngClass]="{ 'is-invalid': submitted && roommasterFormControls.floorSelCode.errors }"
                                                    name="floorSelCode">
                                                    <option selected="selected"></option>
                                                    <option *ngFor="let x of floorcodes" value="{{ x.floorID }}">
                                                        {{ x.floorCode }} - {{ x.floorName }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div *ngIf="roommasterFormControls.floorSelCode.errors"
                                                class="invalid-feedback">
                                                <div
                                                    *ngIf="submitted && roommasterFormControls.floorSelCode.errors.required">
                                                    Floor Code is required</div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /.card-body -->

                            <!-- /.row -->

                            <div class="card-footer" style="align-content: center;">
                                <button type="button" (click)="SaveRoomMaster()"
                                    [disabled]="loading || isbtnSaveDisabled"
                                    class="btn btn-success btn-sm mr-1 ml-1 mt-2 mb-2">
                                    <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mb-1"></span> -->
                                    Save
                                </button>
                                <button type="button" (click)="ShowGrid()"
                                    class="btn btn-info btn-sm mr-1 ml-1 mt-2 mb-2">
                                    Back
                                </button>
                                <button type="button" (click)=ClearContents() [disabled]="isbtnClearDisabled"
                                    class="btn btn-info btn-sm mr-1 ml-1 mt-2 mb-2">
                                    Clear
                                </button>
                                <div *ngIf="error" style="color: red;font-weight: bold;">{{error}}</div>
                            </div>
                        </form>


                    </div>

                </div>

            </section>
        </div>
    </div>
</div>