
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Supplier Master</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form [formGroup]="supplierMasterForm" class="form-horizontal">

                            <div class="card-body col-md-12">

                                <div class="row">
                                    <div class="col">
                                <div class="row form-group">
                                    <label class="col-sm-5 col-form-label" >Supplier Code *</label>
                                    <div class="col-sm-6">
                                        <input type="text" formControlName="SupplierCode" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && supplierMasterFormControls.SupplierCode.errors }"
                                            pattern="^[a-zA-Z0-9\s]+$" />
                                        <div *ngIf="supplierMasterFormControls.SupplierCode.errors"
                                            class="invalid-feedback">
                                            <div
                                                *ngIf="submitted && supplierMasterFormControls.SupplierCode.errors.required">
                                                Supplier Code is required</div>
                                            <div
                                                *ngIf="supplierMasterFormControls.SupplierCode.errors.pattern && supplierMasterFormControls.SupplierCode.dirty && supplierMasterFormControls.SupplierCode.invalid">
                                                Special Characters are not allowed.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <label class="col-sm-5 col-form-label" >Supplier Name *</label>
                                    <div class="col-sm-6">
                                        <input type="text" formControlName="SupplierName" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && supplierMasterFormControls.SupplierName.errors }"
                                            pattern="^[a-zA-Z0-9\s]+$" />
                                        <div *ngIf="supplierMasterFormControls.SupplierName.errors"
                                            class="invalid-feedback">
                                            <div
                                                *ngIf="submitted && supplierMasterFormControls.SupplierName.errors.required">
                                                Supplier Name is required</div>
                                            <div
                                                *ngIf="supplierMasterFormControls.SupplierName.errors.pattern && supplierMasterFormControls.SupplierName.dirty && supplierMasterFormControls.SupplierName.invalid">
                                                Special Characters are not allowed.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-5 col-form-label" >Address 1 *</label>
                                    <div class="col-sm-6">
                                        <input type="text" formControlName="Address1" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && supplierMasterFormControls.Address1.errors }"/>
                                        <div *ngIf="supplierMasterFormControls.Address1.errors"
                                            class="invalid-feedback">
                                            <div
                                                *ngIf="submitted && supplierMasterFormControls.Address1.errors.required">
                                                Address Line 1 is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <label class="col-sm-5 col-form-label" >Address 2</label>
                                    <div class="col-sm-6">
                                        <input type="text" formControlName="Address2" class="form-control"/>
                                   </div>
                                </div>

                                <div class="row form-group">
                                    <label class="col-sm-5 col-form-label" >City</label>
                                    <div class="col-sm-6">
                                        <input type="URL" formControlName="City" class="form-control" />
                                        
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-5 col-form-label" >Country</label>
                                    <div class="col-sm-6">
                                        <input type="URL" formControlName="Country" class="form-control" />
                                        
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-5 col-form-label" >Country Code</label>
                                    <div class="col-sm-6">
                                        <input type="URL" formControlName="CountryCode" class="form-control" />
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row form-group">
                                    <label class="col-sm-5 col-form-label" >Contact Person</label>
                                    <div class="col-sm-6">
                                        <input type="text" formControlName="ContactPerson" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && supplierMasterFormControls.ContactPerson.errors }"
                                            pattern="^[a-zA-Z0-9\s]+$" />
                                        <div *ngIf="supplierMasterFormControls.ContactPerson.errors"
                                            class="invalid-feedback">
                                            <div
                                                *ngIf="supplierMasterFormControls.ContactPerson.errors.pattern && supplierMasterFormControls.ContactPerson.dirty && supplierMasterFormControls.ContactPerson.invalid">
                                                Special Characters are not allowed.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <label class="col-sm-5 col-form-label" >Contact Number</label>
                                    <div class="col-sm-6">
                                        <input type="text" formControlName="ContactNumber" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && supplierMasterFormControls.ContactNumber.errors }"
                                            pattern="[- +()0-9]+" />
                                        <div *ngIf="supplierMasterFormControls.ContactNumber.errors"
                                            class="invalid-feedback">
                                            <div
                                                *ngIf="supplierMasterFormControls.ContactNumber.errors.pattern && supplierMasterFormControls.ContactNumber.dirty && supplierMasterFormControls.ContactNumber.invalid">
                                                Invalid Contact Number.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <label class="col-sm-5 col-form-label" >Email</label>
                                    <div class="col-sm-6">
                                        <input type="email" formControlName="Email" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && supplierMasterFormControls.Email.errors }"
                                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
                                        <div *ngIf="supplierMasterFormControls.Email.errors"
                                            class="invalid-feedback">
                                            <div
                                                *ngIf="supplierMasterFormControls.Email.errors.pattern && supplierMasterFormControls.Email.dirty && supplierMasterFormControls.Email.invalid">
                                                Invalid Email.</div>
                                        </div>
                                    </div>
                                </div>

                                
                               
                                <div class="row form-group">
                                    <label class="col-sm-5 col-form-label" >Vat Number</label>
                                    <div class="col-sm-6">
                                        <input type="text" formControlName="VatNumber" class="form-control"/>
                                        
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>

                            <!-- /.card-body -->

                            <!-- /.row -->

                            <div class="card-footer" style="align-content: center;">
                                <button type="button" (click)="SaveSupplierMaster()"
                                    [disabled]="loading || isbtnSaveDisabled"
                                    class="btn btn-success btn-sm mr-1 ml-1 mt-2 mb-2">
                                    <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mb-1"></span> -->
                                    Save
                                </button>
                                <button type="button" (click)="ShowGrid()" [hidden]="routetype"
                                    class="btn btn-info btn-sm mr-1 ml-1 mt-2 mb-2">
                                    Back
                                </button>
                                <button type="button" (click)=ClearContents() [disabled]="isbtnClearDisabled"
                                    class="btn btn-info btn-sm mr-1 ml-1 mt-2 mb-2">
                                    Clear
                                </button>
                                <div *ngIf="error" style="color: red;font-weight: bold;">{{error}}</div>
                            </div>
                        </form>


                    </div>

             