<div style="height: auto;">
    <div class="wrapper" style="height: auto; min-height: 100%;">
        <div class="content-wrapper">
            <section class="content" style="padding: 1%;">
                <!-- left column -->
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Location Master</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form [formGroup]="locationmasterform" class="form-horizontal">

                        <div class="card-body col-md-12">
                            <div class="row">
                                <div class="col">
                                    <div class="row form-group ">
                                        <label class="col-sm-4 col-form-label" >Site
                                            Code</label>
                                        <div class="col-sm-6">
                                            <select class="form-control select2bs4 select2-hidden-accessible"
                                                style="width: 100%;" formControlName="siteSelCode"
                                                [ngClass]="{ 'is-invalid': submitted && locationmasterFormControls.siteSelCode.errors }"
                                                name="siteSelCode">
                                                <option selected="selected"></option>
                                                <option *ngFor="let x of sitecodes" value="{{ x.siteID }}">
                                                    {{ x.siteCode }} - {{ x.siteName }}
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label class="col-sm-4 col-form-label" >Floor Code</label>
                                        <div class="col-sm-6">

                                            <select class="form-control select2bs4 select2-hidden-accessible"
                                                style="width: 100%;" formControlName="floorSelCode"
                                                [ngClass]="{ 'is-invalid': submitted && locationmasterFormControls.floorSelCode.errors }"
                                                name="floorSelCode">
                                                <option selected="selected"></option>
                                                <option *ngFor="let x of floorcodes" value="{{ x.floorID }}">
                                                    {{ x.floorCode }} - {{ x.floorName }}
                                                </option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <label class="col-sm-4 col-form-label" >Location Code
                                            *</label>
                                        <div class="col-sm-6">
                                            <input type="text" formControlName="LocationCode" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && locationmasterFormControls.LocationCode.errors }"
                                                pattern="^[a-zA-Z0-9\s]+$" />
                                            <div *ngIf="locationmasterFormControls.LocationCode.errors"
                                                class="invalid-feedback">
                                                <div
                                                    *ngIf="submitted && locationmasterFormControls.LocationCode.errors.required">
                                                    Location Code is required</div>
                                                <div
                                                    *ngIf="locationmasterFormControls.LocationCode.errors.pattern && locationmasterFormControls.LocationCode.dirty && locationmasterFormControls.LocationCode.invalid">
                                                    Special Characters are not allowed.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label class="col-sm-4 col-form-label" >Location Name
                                            *</label>
                                        <div class="col-sm-6">
                                            <input type="text" formControlName="LocationName" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && locationmasterFormControls.LocationName.errors }"
                                                pattern="^[a-zA-Z0-9\s]+$" />
                                            <div *ngIf="locationmasterFormControls.LocationName.errors"
                                                class="invalid-feedback">
                                                <div
                                                    *ngIf="submitted && locationmasterFormControls.LocationName.errors.required">
                                                    Location Name is required</div>
                                                <div
                                                    *ngIf="locationmasterFormControls.LocationName.errors.pattern && locationmasterFormControls.LocationName.dirty && locationmasterFormControls.LocationName.invalid">
                                                    Special Characters are not allowed.</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col">
                                   
                                    <div class="row form-group">
                                        <label class="col-sm-4 col-form-label" name="inputEmail3">Building
                                            Code</label>
                                        <div class="col-sm-6">
                                            <select class="form-control select2bs4 select2-hidden-accessible"
                                                style="width: 100%;" formControlName="buildingSelCode"
                                                [ngClass]="{ 'is-invalid': submitted && locationmasterFormControls.buildingSelCode.errors }"
                                                name="buildingSelCode">
                                                <option selected="selected"></option>
                                                <option *ngFor="let x of buildingcodes" value="{{ x.buildingID }}">
                                                    {{ x.buildingCode }} - {{ x.buildingName }}
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label class="col-sm-4 col-form-label" >Room Code *</label>
                                        <div class="col-sm-6">
                                            <!-- <select class="form-control" formControlName="roomSelCode" id="roomSelCode"
                                    [ngClass]="{ 'is-invalid': submitted && locationmasterFormControls.roomSelCode.errors }">
                                    <option *ngFor="let x of roomcodes" value="{{x.roomID}}">
                                        {{x.roomCode}}
                                    </option>
                                </select> -->

                                            <select class="form-control select2bs4 select2-hidden-accessible"
                                                style="width: 100%;" formControlName="roomSelCode"
                                                [ngClass]="{ 'is-invalid': submitted && locationmasterFormControls.roomSelCode.errors }"
                                                name="roomSelCode">
                                                <option selected="selected"></option>
                                                <option *ngFor="let x of roomcodes" value="{{ x.roomID }}">
                                                    {{ x.roomCode }} - {{ x.roomName }}
                                                </option>
                                            </select>
                                        </div>
                                        <div *ngIf="locationmasterFormControls.roomSelCode.errors"
                                            class="invalid-feedback">
                                            <div
                                                *ngIf="submitted && locationmasterFormControls.roomSelCode.errors.required">
                                                Room Code is required</div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- /.card-body -->

                        <!-- /.row -->

                        <div class="card-footer" style="align-content: center;">
                            <button type="button" (click)="SaveLocationMaster()"
                                [disabled]="loading || isbtnSaveDisabled"
                                class="btn btn-success btn-sm mr-1 ml-1 mt-2 mb-2">
                                <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mb-1"></span> -->
                                Save
                            </button>
                            <button type="button" (click)="ShowGrid()"
                                class="btn btn-primary btn-sm mr-1 ml-1 mt-2 mb-2">
                                Back
                            </button>
                            <button type="button" (click)=ClearContents() [disabled]="isbtnClearDisabled"
                                class="btn btn-info btn-sm mr-1 ml-1 mt-2 mb-2">
                                Clear
                            </button>
                            <div *ngIf="error" style="color: red;font-weight: bold;">{{error}}</div>
                        </div>
                    </form>


                </div>

            </section>
        </div>
    </div>
</div>