
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Color Master</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="ColorMasterForm" class="form-horizontal">
              
                <div class="card-body col-sm-8">
                  <div class="row form-group">
                    <label class="col-sm-4 col-form-label" for="inputEmail3">Color Code *</label>
                    <div class="col-sm-6">
                      <input type="text" formControlName="ColorCode" class="form-control" maxlength="50"
                       [ngClass]="{ 'is-invalid': submitted && ColorMasterFormControls.ColorCode.errors }"
                       />
                      <div *ngIf="submitted && ColorMasterFormControls.ColorCode.errors" class="invalid-feedback">
                                  <div *ngIf="ColorMasterFormControls.ColorCode.errors.required">Color Code is required</div>
                                  <!-- <div *ngIf="ColorMasterFormControls.ColorCode.errors.pattern && ColorMasterFormControls.ColorCode.dirty && ColorMasterFormControls.ColorCode.invalid">Special Characters are not allowed.</div> -->
                              </div>
                    </div>
                  
                  </div>
  
                  <div class="row form-group">
                    <label class="col-sm-4 col-form-label" for="inputEmail3">Color Name *</label>
                    <div class="col-sm-6">
                      <input type="text" formControlName="ColorName" class="form-control"  maxlength="100"
                       [ngClass]="{ 'is-invalid': submitted && ColorMasterFormControls.ColorName.errors }"
                      pattern="^[a-zA-Z0-9\s]+$"/>
                      <div *ngIf="submitted && ColorMasterFormControls.ColorName.errors" class="invalid-feedback">
                                      <div *ngIf="ColorMasterFormControls.ColorName.errors.required">Color Name is required</div>
                                      <div *ngIf="ColorMasterFormControls.ColorName.errors.pattern && ColorMasterFormControls.ColorName.dirty && ColorMasterFormControls.ColorName.invalid">Special Characters are not allowed.</div>
                                  </div>
                    </div>
                  </div>
  
                <!-- /.card-body -->
          
              <!-- /.row -->
  
              <div class="card-footer" style="align-content: center;">
                <button type="button" (click)="SaveColorMaster()" [disabled]="loading || isbtnSaveDisabled"
                  class="btn btn-success btn-sm mr-1 ml-1 mt-2 mb-2">
                  <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mb-1"></span> -->
                  Save
                </button>
                <button type="button" (click)="ShowGrid()" class="btn btn-primary btn-sm mr-1 ml-1 mt-2 mb-2">
                  Back
                </button>
                <button type="button" (click)=ClearContents() [disabled]="isbtnClearDisabled" class="btn btn-info btn-sm mr-1 ml-1 mt-2 mb-2">
                  Clear
                </button>
                <div *ngIf="error" style="color: red;font-weight: bold;">{{error}}</div>
              </div>
                </div>
            </form>
  
  
          </div>
  
       