/* MODAL STYLES
-------------------------------*/

jw-modal {
    /* modals are hidden by default */
    display: none;
    .content-wrapper {
        margin-left: 0px !important;
        min-height: 500px !important;
        padding: 1px;
    }
    .close {
        line-height: 0 !important;
        font-size: 2.5rem !important;
    }
    .closebutton {
        position: absolute;
        top: 50px;
        right: 50px;
        padding: 5px;
        line-height: 14px;
        min-width: auto;
        z-index: 1px;
    }
    .jw-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 50px;
        //    top: 0;
        right: 0;
        bottom: 50px;
        // left: 0;
        left: 250px;
        //height: 80%;
        /* z-index must be higher than .jw-modal-background */
        z-index: 1000;
        /* enables scrolling for tall modals */
        overflow: auto;
        .jw-modal-body {
            padding: 3px;
            background: #fff;
            /* margin exposes part of the modal background */
            margin: 50px;
        }
    }
    .jw-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;
        /* z-index must be below .jw-modal and above everything else  */
        z-index: 900;
    }
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}