
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Region Master</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="regionMasterForm" class="form-horizontal">
              
                <div class="card-body col-sm-8">
                  <div class="row form-group">
                    <label class="col-sm-4 col-form-label" for="inputEmail3">Region Code *</label>
                    <div class="col-sm-6">
                      <input type="text" formControlName="RegionCode" class="form-control" maxlength="100"
                       [ngClass]="{ 'is-invalid': submitted && regionMasterFormControls.RegionCode.errors }"
                      pattern="^[a-zA-Z0-9\s]+$" />
                      <div *ngIf="submitted && regionMasterFormControls.RegionCode.errors" class="invalid-feedback">
                                  <div *ngIf="regionMasterFormControls.RegionCode.errors.required">Region Code is required</div>
                                  <div *ngIf="regionMasterFormControls.RegionCode.errors.pattern && regionMasterFormControls.RegionCode.dirty && regionMasterFormControls.RegionCode.invalid">Special Characters are not allowed.</div>
                              </div>
                    </div>
                  
                  </div>
  
                  <div class="row form-group">
                    <label class="col-sm-4 col-form-label" for="inputEmail3">Region Name *</label>
                    <div class="col-sm-6">
                      <input type="text" formControlName="RegionName" class="form-control"  maxlength="100"
                       [ngClass]="{ 'is-invalid': submitted && regionMasterFormControls.RegionName.errors }"
                      pattern="^[a-zA-Z0-9\s]+$"/>
                      <div *ngIf="submitted && regionMasterFormControls.RegionName.errors" class="invalid-feedback">
                                      <div *ngIf="regionMasterFormControls.RegionName.errors.required">Region Name is required</div>
                                      <div *ngIf="regionMasterFormControls.RegionName.errors.pattern && regionMasterFormControls.RegionName.dirty && regionMasterFormControls.RegionName.invalid">Special Characters are not allowed.</div>
                                  </div>
                    </div>
                  </div>
  
                <!-- /.card-body -->
          
              <!-- /.row -->
  
              <div class="card-footer" style="align-content: center;">
                <button type="button" (click)="SaveRegionMaster()" [disabled]="loading || isbtnSaveDisabled"
                  class="btn btn-success btn-sm mr-1 ml-1 mt-2 mb-2">
                  <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mb-1"></span> -->
                  Save
                </button>
                <button type="button" (click)="ShowGrid()" class="btn btn-primary btn-sm mr-1 ml-1 mt-2 mb-2">
                  Back
                </button>
                <button type="button" (click)=ClearContents() [disabled]="isbtnClearDisabled" class="btn btn-info btn-sm mr-1 ml-1 mt-2 mb-2">
                  Clear
                </button>
                <div *ngIf="error" style="color: red;font-weight: bold;">{{error}}</div>
              </div>
                </div>
            </form>
  
  
          </div>
  
      