<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">{{headerText}}</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form [formGroup]="purchaseOrderEditForm" class="form-horizontal">
        <div style="align-content: center;margin-left: 15px;margin-top: 12px;">
            <div class="row">
                <div class="col">
                    <div class="row form-group">
                        <label class="col-sm-4 col-form-label">From
                                                Date *</label>
                        <div class="col-sm-6">
                            <div class="input-group date" id="FromDate" data-target-input="nearest">
                                <input type="text" #FromDate class="form-control datetimepicker-input" [ngClass]="{ 'is-invalid': submitted && !FromDate.value }" name="FrmDate" data-target="#FromDate" />
                                <div class="input-group-append" data-target="#FromDate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                                <div *ngIf="submitted && !FromDate.value" class="invalid-feedback">
                                    From Date is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4 col-form-label">Supplier
                                                Code </label>
                        <div class="col-sm-6">
                            <select class="form-control select2bs4 select2-hidden-accessible" style="width: 100%;" formControlName="supplierSelCode" name="supplierSelCode">
                                                    <option selected="selected"></option>
                                                    <option *ngFor="let x of suppCodes" value="{{ x.id }}">
                                                        {{ x.supplierCode }} - {{ x.supplierName }}
                                                    </option>
                                                </select>
                        </div>
                    </div>
                </div>
                <div class="col">

                    <div class="row form-group">
                        <label class="col-sm-4 col-form-label">To
                                                Date *</label>
                        <div class="col-sm-6">
                            <div class="input-group date" id="ToDate" data-target-input="nearest">
                                <input type="text" #ToDate class="form-control datetimepicker-input" [ngClass]="{ 'is-invalid': submitted && !ToDate.value }" name="TDate" data-target="#ToDate" />
                                <div class="input-group-append" data-target="#ToDate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                                <div *ngIf="submitted && !ToDate.value" class="invalid-feedback">
                                    To Date is required
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="row form-group">
                        <label class="col-sm-4 col-form-label">PO Number </label>
                        <div class="col-sm-6">
                            <input type="text" formControlName="PoNumber" class="form-control" />
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">

            </div>
            <button type="button" (click)=ViewContents() class="btn btn-info btn-sm mr-1 ml-1 mt-2 mb-2">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mb-1"></span>
                                View 
                            </button>
            <button type="button" (click)=NewPOEntry() class="btn btn-info btn-sm mr-1 ml-1 mt-2 mb-2">
                                    Back
                                </button>
            <button type="button" (click)=ClearPOView() class="btn btn-info btn-sm mr-1 ml-1 mt-2 mb-2">
                                    Clear
                                </button>
            <button type="button" [hidden]="isbtnGridClick || !isbtnforApproveClick" (click)="ViewEditScreen()" class="btn btn-info btn-sm mr-1 ml-1 mt-2 mb-2">
                                Click to Edit PO
                            </button>
            <button type="button" [hidden]="isbtnGridClick || isbtnforApproveClick" (click)="ApproveEditScreen()" class="btn btn-info btn-sm mr-1 ml-1 mt-2 mb-2">
                            Click to Approve PO
                        </button>

            <div *ngIf="error" style="color: red;font-weight: bold;">{{error}}</div>

            <div class="row">
                <ag-grid-angular #agGrid style="width: 76vw; height: 25vw;padding-left: 15px;" class="ag-theme-alpine" [rowData]="poData" [columnDefs]="columnPOViewDefs" rowSelection="single" cellSelection="none" animateRows="true" defaultColDef="defaultColDef" (rowClicked)="onPOViewRowClick($event)"
                    suppressCellSelection="true">
                </ag-grid-angular>
            </div>
        </div>
    </form>
</div>