
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Karat Master</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="karatMasterForm" class="form-horizontal">
              
                <div class="card-body col-sm-8">
                  <div class="row form-group">
                    <label class="col-sm-4 col-form-label" for="inputEmail3">Karat Code *</label>
                    <div class="col-sm-6">
                      <input type="text" formControlName="KaratCode" class="form-control" maxlength="50"
                       [ngClass]="{ 'is-invalid': submitted && karatMasterFormControls.KaratCode.errors }"
                       pattern="[0-9]+([\.,][0-9]+)?" />
                      <div *ngIf="submitted && karatMasterFormControls.KaratCode.errors" class="invalid-feedback">
                                  <div *ngIf="karatMasterFormControls.KaratCode.errors.required">Karat Code is required</div>
                                  <div *ngIf="karatMasterFormControls.KaratCode.errors.pattern && karatMasterFormControls.KaratCode.dirty && karatMasterFormControls.KaratCode.invalid">Characters are not allowed.</div>
                              </div>
                    </div>
                  
                  </div>
  
                  <div class="row form-group">
                    <label class="col-sm-4 col-form-label" for="inputEmail3">Karat Name *</label>
                    <div class="col-sm-6">
                      <input type="text" formControlName="KaratName" class="form-control"  maxlength="100"
                       [ngClass]="{ 'is-invalid': submitted && karatMasterFormControls.KaratName.errors }"
                      pattern="^[a-zA-Z0-9\s]+$"/>
                      <div *ngIf="submitted && karatMasterFormControls.KaratName.errors" class="invalid-feedback">
                                      <div *ngIf="karatMasterFormControls.KaratName.errors.required">Karat Name is required</div>
                                      <div *ngIf="karatMasterFormControls.KaratName.errors.pattern && karatMasterFormControls.KaratName.dirty && karatMasterFormControls.KaratName.invalid">Special Characters are not allowed.</div>
                                  </div>
                    </div>
                  </div>
  
                <!-- /.card-body -->
          
              <!-- /.row -->
  
              <div class="card-footer" style="align-content: center;">
                <button type="button" (click)="SaveKaratMaster()" [disabled]="loading || isbtnSaveDisabled"
                  class="btn btn-success btn-sm mr-1 ml-1 mt-2 mb-2">
                  <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mb-1"></span> -->
                  Save
                </button>
                <button type="button" (click)="ShowGrid()" class="btn btn-primary btn-sm mr-1 ml-1 mt-2 mb-2">
                  Back
                </button>
                <button type="button" (click)=ClearContents() [disabled]="isbtnClearDisabled" class="btn btn-info btn-sm mr-1 ml-1 mt-2 mb-2">
                  Clear
                </button>
                <div *ngIf="error" style="color: red;font-weight: bold;">{{error}}</div>
              </div>
                </div>
            </form>
  
  
          </div>
  
       