<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Store/Warehouse Master</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form [formGroup]="warehouseMasterForm" class="form-horizontal">

        <div class="card-body col-sm-8">

            <div class="row form-group">
                <label class="col-sm-4 col-form-label">Region *</label>
                <div class="col-sm-6">
                    <select class="form-control select2bs4 select2-hidden-accessible" style="width: 100%;" formControlName="regionSelCode" [ngClass]="{ 'is-invalid': submitted && warehouseMasterFormControls.regionSelCode.errors }" name="regionSelCode" required>
                            <option selected="selected"></option>
                            <option *ngFor="let x of regions" value="{{ x.id }}">
                                {{ x.regionCode }} - {{ x.regionName }}
                            </option>
                        </select>

                    <div *ngIf="warehouseMasterFormControls.regionSelCode.errors" class="invalid-feedback">
                        <div *ngIf="submitted && warehouseMasterFormControls.regionSelCode.errors.required">Region Code is required</div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-sm-4 col-form-label" for="inputEmail3">Store/Warehouse Code *</label>
                <div class="col-sm-6">
                    <input type="text" formControlName="warehouseCode" class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': submitted && warehouseMasterFormControls.warehouseCode.errors }" pattern="^[a-zA-Z0-9\s]+$" />
                    <div *ngIf="submitted && warehouseMasterFormControls.warehouseCode.errors" class="invalid-feedback">
                        <div *ngIf="warehouseMasterFormControls.warehouseCode.errors.pattern && warehouseMasterFormControls.warehouseCode.dirty && warehouseMasterFormControls.warehouseCode.invalid">Special Characters are not allowed.</div>
                    </div>
                </div>

            </div>

            <div class="row form-group">
                <label class="col-sm-4 col-form-label" for="inputEmail3">Store/Warehouse Name *</label>
                <div class="col-sm-6">
                    <input type="text" formControlName="warehouseName" class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': submitted && warehouseMasterFormControls.warehouseName.errors }" pattern="^[a-zA-Z0-9\s]+$" />
                    <div *ngIf="submitted && warehouseMasterFormControls.warehouseName.errors" class="invalid-feedback">
                        <div *ngIf="warehouseMasterFormControls.warehouseName.errors.required">Store/Warehouse Name is required</div>
                        <div *ngIf="warehouseMasterFormControls.warehouseName.errors.pattern && warehouseMasterFormControls.warehouseName.dirty && warehouseMasterFormControls.warehouseName.invalid">Special Characters are not allowed.</div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-sm-4 col-form-label" for="inputEmail3">Contact Number </label>
                <div class="col-sm-6">
                    <input type="tel" formControlName="contactNumber" class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': submitted && warehouseMasterFormControls.contactNumber.errors }" pattern="\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|
                      2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|
                      4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$" />
                    <div *ngIf="submitted && warehouseMasterFormControls.contactNumber.errors" class="invalid-feedback">
                        <div *ngIf="warehouseMasterFormControls.contactNumber.errors.required">Contact Number is required</div>
                        <div *ngIf="warehouseMasterFormControls.contactNumber.errors.pattern && warehouseMasterFormControls.contactNumber.dirty && warehouseMasterFormControls.contactNumber.invalid">Contact Number not Valid</div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-sm-4 col-form-label" for="inputEmail3">Email </label>
                <div class="col-sm-6">
                    <input type="email" formControlName="contactEmail" class="form-control" maxlength="50" [ngClass]="{ 'is-invalid': submitted && warehouseMasterFormControls.contactEmail.errors }" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                    <div *ngIf="submitted && warehouseMasterFormControls.contactEmail.errors" class="invalid-feedback">
                        <div *ngIf="warehouseMasterFormControls.contactEmail.errors.required">Email is required</div>
                        <div *ngIf="warehouseMasterFormControls.contactEmail.errors.pattern && warehouseMasterFormControls.contactEmail.dirty && warehouseMasterFormControls.contactEmail.invalid">Email not Valid</div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-sm-4 col-form-label" for="inputEmail3">Address1 *</label>
                <div class="col-sm-6">
                    <input type="text" formControlName="address1" class="form-control" maxlength="250" [ngClass]="{ 'is-invalid': submitted && warehouseMasterFormControls.address1.errors }" />
                    <div *ngIf="submitted && warehouseMasterFormControls.address1.errors" class="invalid-feedback">
                        <div *ngIf="warehouseMasterFormControls.address1.errors.required">Address1 is required</div>
                        <!-- <div *ngIf="companyMasterFormControls.Address1.errors.pattern && companyMasterFormControls.Address1.dirty && companyMasterFormControls.Address1.invalid">Special Characters are not allowed.</div> -->
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-4 col-form-label" for="inputEmail3">Address2 </label>
                <div class="col-sm-6">
                    <input type="text" formControlName="address2" class="form-control" maxlength="250" [ngClass]="{ 'is-invalid': submitted && warehouseMasterFormControls.address2.errors }" />
                    <div *ngIf="submitted && warehouseMasterFormControls.address2.errors" class="invalid-feedback">
                        <!-- <div *ngIf="companyMasterFormControls.Address2.errors.required">Address1 is required</div> -->
                        <!-- <div *ngIf="companyMasterFormControls.Address1.errors.pattern && companyMasterFormControls.Address1.dirty && companyMasterFormControls.Address1.invalid">Special Characters are not allowed.</div> -->
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-4 col-form-label" for="inputEmail3">City </label>
                <div class="col-sm-6">
                    <input type="text" formControlName="city" class="form-control" maxlength="150" [ngClass]="{ 'is-invalid': submitted && warehouseMasterFormControls.city.errors }" />
                    <div *ngIf="submitted && warehouseMasterFormControls.city.errors" class="invalid-feedback">
                        <!-- <div *ngIf="companyMasterFormControls.Address2.errors.required">Address1 is required</div> -->
                        <!-- <div *ngIf="companyMasterFormControls.Address1.errors.pattern && companyMasterFormControls.Address1.dirty && companyMasterFormControls.Address1.invalid">Special Characters are not allowed.</div> -->
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-4 col-form-label" for="inputEmail3">State </label>
                <div class="col-sm-6">
                    <input type="text" formControlName="state" class="form-control" maxlength="150" [ngClass]="{ 'is-invalid': submitted && warehouseMasterFormControls.state.errors }" />
                    <div *ngIf="submitted && warehouseMasterFormControls.state.errors" class="invalid-feedback">
                        <!-- <div *ngIf="companyMasterFormControls.Address2.errors.required">Address1 is required</div> -->
                        <!-- <div *ngIf="companyMasterFormControls.Address1.errors.pattern && companyMasterFormControls.Address1.dirty && companyMasterFormControls.Address1.invalid">Special Characters are not allowed.</div> -->
                    </div>
                </div>
            </div>

        </div>

        <!-- /.card-body -->

        <!-- /.row -->

        <div class="card-footer" style="align-content: center;">
            <button type="button" (click)="SaveWarehouseMaster()" [disabled]="loading || isbtnSaveDisabled" class="btn btn-success btn-sm mr-1 ml-1 mt-2 mb-2">
                  <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mb-1"></span> -->
                  Save
                </button>
            <button type="button" (click)="ShowGrid()" [hidden]="routetype" class="btn btn-primary btn-sm mr-1 ml-1 mt-2 mb-2">
                  Back
                </button>
            <button type="button" (click)=ClearContents() [disabled]="isbtnClearDisabled" class="btn btn-info btn-sm mr-1 ml-1 mt-2 mb-2">
                  Clear
                </button>
            <div *ngIf="error" style="color: red;font-weight: bold;">{{error}}</div>
        </div>
    </form>
</div>